#intro{
  text-align: center;
  padding-top: 120px;
  margin: 0 auto;
  width: 100%;
  height: 750px;
  position: relative;
  
  

  &::before{
    content: '';
    background-image: url(../assets/images/Background_Intro.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  div:first-of-type{
    width: 680px;
    margin-inline: auto;
  }

  h1{
    margin-block: 8px 20px;
  }

  img{
    margin-bottom: 56px;
  }
}