.grid{
  display: grid;
}

.grid-cols-3{
  grid-template-columns: repeat(3, 1fr);
}

.gap-24{
  gap: 24px;
}

.gap-16{
  gap: 16px;
}

.title-lg{
  font: var(--title-lg);
}

.title-md{
  font: var(--title-md);
}

.title-sm{
  font: var(--title-sm);
}

.subtitle{
  font: var(--subtitle);
}

.text-md{
  font: var(--text-md);
}

.color-red{
  color: var(--red);
}

.color-purple{
  color: var(--purple);
}

.color-gray-100{
  color: var(--gray-100);
}

.color-gray-300{
  color: var(--gray-300);
}